body, p, span {
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* To avoid purple/marked <Link> */
a {
  text-decoration: none;
  color: black;
}

p {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.wrapper {
  display: block;
  /* margin-top: 75px; */
};

.rodal,
.rodal-mask {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed !important;
  padding: 10px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.rodal-dialog {
  display: flex;
  margin: auto;
  height: auto !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
  font-family: inherit;
  font-size: 1rem;
  padding: 1.25em;
  border-radius: 0.3125em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative !important;
  width: 32em;
  max-width: 100%;
}

/* https://fkhadra.github.io/react-toastify/how-to-style/ */

.toast-container {
  background-color: rgb(58, 57, 57);
}

.Toastify__toast--success {
  background: #303030 !important;
}
.Toastify__toast--error {
  background: #FCA7A9 !important;
}
.toastBody {
  font-family: "Atlas Grotesk Web", Arial, Helvetica, sans-serif;
  color: #10171D; /* #10171D */
  font-size: 0.875rem !important;
  background: white;
}
.toastProgress {
  background: #333F48 !important;
}