.fav-icon-container {
  width: 41px;
  height: 41px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 5px;
  right: 5px;
  cursor: pointer;
  border-radius: 20px;
};

