.fav-icon-container {
  width: 13%;
  height: 13%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 2%;
  right: 2%;
  cursor: pointer;
  border-radius: 20px;

};

